.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding-left: 7px;
}

.list {
  @include scroll-bar;
  padding: 15px 10px 0 10px;
  max-height: 500px;
  overflow: auto;
}

.clearButton {
  font-size: 5px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
  &:hover {
    background-color: transparent;
    transform: scale(1.1);
  }
}

.trashIcon {
  font-size: 20px;
  fill: #dc143c;
}
