.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 15px 0;
}

.title {
  padding-left: 7px;
}

.list {
  @include scroll-bar;
  padding: 15px 10px 0 10px;
  max-height: 500px;
  overflow: auto;
}

.deleteButton {
  font-size: 12px;
  padding: 3px 8px;
  background: none;
  border-radius: 8px;
  color: #ababab;
  &:hover {
    color: rgb(255, 39, 39);
  }
}
