.page {
  height: 100dvh;
}
.inner {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  flex-direction: column-reverse;
  @include _minLG {
    flex-direction: row;
  }
}

.auth {
  //   background-color: #fafafa;
  padding: 20px;
  padding-bottom: 40px;

  @include _minLG {
    flex-basis: 60%;
    padding-bottom: 0;
    align-self: center;
  }
}

.banner {
  flex-grow: 1;
  background-color: rgb(167, 167, 167);
  background-image: url('../../../../public/assets/log-in-bg.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include _minLG {
    flex-basis: 40%;
    height: 100%;
    width: 100%;
  }
}

// AUTH
.form {
  margin: 0 auto;
  max-width: 600px;
}

.title {
  margin-bottom: 0;
}

.subTitle {
  color: #989898;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 20px;
  @include _minLG {
    margin-bottom: 25px;
  }
}

.logInButton {
  margin-top: 15px;
}

.offer {
  color: #989898;
  font-size: 14px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.signupMessage {
  font-weight: 500;
  text-align: center;
  margin-top: 15px;
  color: #989898;
  font-size: 15px;
  & span {
    cursor: pointer;
    color: #171717;
    &:hover {
      text-decoration: underline;
    }
  }
}

// SIGN UP

.code {
  display: flex;
  justify-content: flex-end;
  & > span {
    padding-top: 15px;
    font-weight: 500;
    margin-right: 20px;
  }
}
