.wrapper {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background-color: #fff; // dark #343434
  max-width: 400px;
}

.container {
  position: fixed; // INFO: fix for Chrome: https://developer.chrome.com/blog/url-bar-resizing/
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 400px;
}

.list {
  margin: 0;
  padding: 20px 10px 0 10px;
  flex-grow: 1;
  overflow-y: auto;
}

.skeletonList {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  width: 100%;
  flex-grow: 1;
  overflow-y: hidden;
  & li {
    width: 100%;
    margin-bottom: 15px;
  }
}
