.container {
  display: flex;
  padding: 0;
  margin: 10px 0;
}

.tag {
  width: auto;
  padding: 2px 5px;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  margin-right: 5px;
  border-radius: 2px;
  background-color: #e0e0e0;
  border-radius: 5px;
}
