.container {
  padding: 15px 10px 0 15px;
  margin-top: 10px;
}

.info {
  margin-bottom: 15px;
}

.totalPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  line-height: 22px;
  font-weight: 500;
  & > b {
    font-size: 19px;
  }
}

.conditions {
  padding: 0 20px;
  & > p {
    text-align: center;
    font-size: 13px;
    color: #6c757d; // dark #f1f1f1
    padding-left: 3px;
  }
}

.error {
  font-weight: 500;
  margin-top: 10px;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 10px;
  color: #fff;
  background-color: #f44336;
  & p {
    margin: 0;
    margin-top: 5px;
  }
}
