body {
  font-family: var(--font-montserrat), Roboto, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  line-height: 1.5;
  background-color: #fefefe; // dark #0f0f0f
  color: #343434; // dark #fff
  -webkit-font-smoothing: antialiased;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.svg-icon {
  // font-size: 1.5rem; // TODO: broken inheritance
  width: 1em;
  height: 1em;
  user-select: none;
  flex-shrink: 0;
  overflow: hidden;
  & svg {
    display: block;
  }
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --font-color: #343434;
  --footer-bg: #f8f8f8;
  --sub-footer-bg: #eaeaea;
  --sub-title-color: #515154;
  --catalog-bg-primary: #fff;
  --catalog-bg-secondary: #f2f2f2;

  --green: #2bab2b;
  --green-light: #32cd32;

  --base-scale: calc(100vw / 75);

  // new
  --sidebar-bkg: #fefefe;
  --checkout-bkg: #f3f3f3;
  --checkout-form-bkg: #f2f2f2;
  --checkout-form-bkg-lg: #fff;
}

[data-theme='dark'] {
  --font-color: #fff;
  --footer-bg: #333;
  --sub-footer-bg: #252121;
  --sub-title-color: #c1c1c1;
  --catalog-bg-primary: #272727;
  --catalog-bg-secondary: #0f0f0f;

  --green: #2bab2b;
  --green-light: #32cd32;

  --base-scale: calc(100vw / 75);

  // new
  --sidebar-bkg: #0f0f0f;
  --checkout-bkg: none;
  --checkout-form-bkg: none;
  --checkout-form-bkg-lg: #323232;
}
