@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-montserrat), Roboto, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  line-height: 1.5;
  background-color: #fefefe;
  color: #171717;
  -webkit-font-smoothing: antialiased;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
}

.svg-icon {
  // font-size: 1.5rem; // TODO: broken inheritance
  width: 1em;
  height: 1em;
  user-select: none;
  flex-shrink: 0;
  overflow: hidden;
  & svg {
    display: block;
  }
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-nav-link::after {
  content: '';
  position: absolute;
  border-bottom: 2px solid;
  border-bottom-color: #171717;
  bottom: -7px;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  width: 0;
  z-index: 1;
  transition: all 0.3s ease;
}

.header-nav-link:hover::after {
  width: 45%;
  opacity: 1;
  visibility: visible;
}

.scroll-bar::-webkit-scrollbar {
  width: 6px;
}

.scroll-bar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e6e6e6;
}

.scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

:root {
  --green: #2bab2b;
  --green-light: #32cd32;
  --red: rgb(255, 39, 39);
}
