$main-color: #f2e30c;

$xs: 0px;
$sm: 450px;
$md: 600px;
$tablet: 800px;
$lg: 900px;
$laptop: 1000px;
$xl: 1200px;
$desktop: 1400px;

@mixin _minSM {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin _minMD {
  @media (min-width: $md) {
    @content;
  }
}

@mixin _minTablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin _minLG {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin _minLaptop {
  @media (min-width: $laptop) {
    @content;
  }
}

@mixin _minXL {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin _minDesktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin scroll-bar {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e6e6e6;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
