.box {
  background: #fff;
  height: calc(var(--vh, 1vh) * 100);
  overflow: auto;
  position: fixed;
  //   box-shadow: ${({ $open }) => ($open ? '0 0 15px rgba(0, 0, 0, 0.5)' : 'none')};
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: transform 199ms ease-in;
  z-index: 1000;
  //   ${({ $pos, $open }) => {
  //     switch ($pos) {
  //       case 'right':
  //         return css`
  //           top: 0;
  //           right: 0;
  //           transform: ${$open ? 'translateX(0)' : 'translateX(101%)'};
  //         `
  //       default:
  //         return css`
  //           top: 0;
  //           left: 0;
  //           transform: ${$open ? 'translateX(0)' : 'translateX(-101%)'};
  //         `
  //     }
  //   }}
}

.boxWithShadow {
  box-shadow: none;
}

.right {
  top: 0;
  right: 0;
  transform: translateX(101%);
}

.rightOpen {
  transform: translateX(0);
}

.left {
  top: 0;
  left: 0;
  transform: translateX(-101%);
}

.leftOpen {
  transform: translateX(0);
}

.backdrop {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: calc(var(--vh, 1vh) * 100);
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-tap-highlight-color: transparent;
}

.backdropOpen {
  visibility: visible;
  z-index: 999;
}
