.container {
  position: relative;
  background-color: #e1e1e1;
  padding: 20px 10px;
  border-radius: 10px;
  transition: background-color 300ms;
  transition-delay: 280ms;

  @include _minLG {
    transition: none;
    background-color: transparent;
    padding: 0;
  }
}

.container.expand {
  background-color: transparent;
  justify-content: flex-start;
  margin-bottom: 0;
  padding-bottom: 0;
  transition: none;
}

.titleBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0;
  border-radius: 10px;
  user-select: none;
  @include _minLG {
    margin-bottom: 30px;
  }
}

.titleBox.titleExpand {
  margin-bottom: 20px;
}

.step {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  border-radius: 50%;
  padding: 13px;
  margin-right: 7px;
  user-select: none;
  background-color: #8b8b8b;

  transition: background-color;
  transition-duration: 300ms;
  transition-delay: 280ms;

  @include _minLG {
    transition: none;
    background-color: #1e1e1e;
    transition-duration: 0ms;
  }
}

.stepExpand {
  transition-duration: 0ms;
  transition-delay: 0ms;
  background-color: #1e1e1e;
}

.step.stepValid {
  transition-duration: 0ms;
  transition-delay: 0ms;
  background-color: var(--green-light);
}

.title {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;

  @include _minLG {
    font-size: 21px;
    line-height: 21px;
  }
}

.expandIcon {
  margin-left: auto;
  transition: all 160ms linear;
  fill: var(--font-color);
  transform: rotate(180deg);
  font-size: 1.5rem;
  @include _minLG {
    display: none;
  }
}

.expandIcon.collapsed {
  transform: rotate(360deg);
}

.checkIcon {
  fill: #fff;
  font-size: 15px;
}
