.container {
  padding: 10px 10px 15px 10px;
  @include _minLG {
    padding-top: 30px;
  }
}

.inner {
  @include _minLG {
    padding-left: 15px;
  }
}

.title {
  font-size: 22px;
  line-height: 25px;
  font-weight: 600;
  margin: 15px 0;
  @include _minXL {
    margin-top: 0;
    margin-bottom: 22px;
    font-size: 25px;
    line-height: 30px;
  }
}

.availability {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.skuWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include _minLaptop {
    flex-basis: auto;
  }
}

.skuCode {
  color: #343434;
  margin: 0;
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
  & span {
    color: #939191;
  }
}

.availabilityPlug {
  display: inline-flex;
  border-radius: 12px;
  width: auto;
  padding: 7px 12px 7px 10px;
  color: #57ae00;
  background-color: #e2f9cd;
  & > span {
    font-size: 12px;
    margin-left: 5px;
    font-weight: 600;
  }
  @include _minLaptop {
    margin-bottom: 0;
  }
}

.availabilityOutStock {
  color: #8d8d8d;
  background-color: #e4e4e4;
}

.availabilityIcon {
  fill: #8d8d8d;
  font-size: 18px;
  margin-right: 3px;
}

.availabilityIconInStock {
  fill: #57ae00;
}

.priceBox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.currentPrice {
  margin: 0;
  font-size: 29px;
  line-height: 29px;
  font-weight: 600;
  margin-right: 10px;
  & span {
    font-size: 25px;
  }
}

.discountPriceBox {
  user-select: none;
  display: flex;
  align-items: center;
}

.discountPrice {
  color: #999999;
  margin: 0;
  font-size: 25px;
  font-weight: 500;
  text-decoration: line-through;
}

.percentage {
  color: #fff;
  width: 50px;
  text-align: center;
  font-size: 13px;
  margin-left: 10px;
  font-weight: 600;
  border-radius: 6px;
  padding: 2px 4px;
  background-color: #f12315;
}

.buttonsWrapper {
  margin: 30px 0 10px 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}

.amauntBox {
  width: 100%;
  margin-bottom: 15px;
}

.orderButtonIcon {
  font-size: 30px;
  fill: #fff;
  margin-right: 10px;
  transition: all 190ms;
}

.orderButton {
  border: none;
  background-color: transparent;
  border-radius: 14px;
  font-size: 16px;
  line-height: 16px;
  text-transform: none;
  font-weight: 600;
  padding: 14px;
  color: #fff;
  background-color: #232323;

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: #32cd32;
    }
  }

  &:active {
    & .orderButtonIcon {
      transform: scale(1.2);
    }
  }
}
