/* mobile hover */
@media (hover: none) {
  .primary:active:not(:disabled) {
    background-color: #383838;
  }

  .accept:active:not(:disabled) {
    background-color: #38e938;
  }
}

/* desktop hover */
@media (hover: hover) {
  .primary:hover:not(:disabled) {
    background-color: #383838;
  }

  .accept:hover:not(:disabled) {
    background-color: #38e938;
  }
}

.danger:hover:not(:disabled) {
  background-color: #f2554a;
}
