.header {
  position: sticky;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  flex-wrap: wrap;
  padding: 5px 0;
  background-color: #171717; // #1e1e1e;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    0 1px 4px rgba(0, 0, 0, 0.05),
    0 2px 8px rgba(0, 0, 0, 0.05);

  @include _minLG {
    position: static;
    padding: 10px 17px;
  }

  @include _minXL {
    padding: 13px 50px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1500px;
}

.wrapper-expand {
  max-width: 1700px;
}

.logo {
  display: none;

  @include _minLG {
    display: block;
    position: relative;
    top: 3px;
    width: 150px;
  }

  @include _minXL {
    margin: 0 40px;
  }
}

.navlist {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
  & li {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }
  @include _minLG {
    display: flex;
    align-items: center;
  }
}

.nav-link {
  position: relative;

  @include _minLG {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: $main-color;
    transition: color 0.3s;

    &::after {
      content: '';
      position: absolute;
      border-bottom: 2px solid;
      border-bottom-color: $main-color;
      bottom: -7px;
      left: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
      width: 0;
      z-index: 1;
      transition: all 0.3s ease;
      -moz-transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
    }

    &:hover {
      &::after {
        width: 45%;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.menu-icon {
  fill: $main-color;
}

.heart-icon {
  font-size: 24px;
  fill: none;
  stroke: $main-color;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.2);
  }
}

.profile-icon {
  font-size: 24px;
  fill: $main-color;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.2);
  }
}

.cart-icon {
  font-size: 27px;
  fill: $main-color;
  stroke: $main-color;
  @include _minMD {
    font-size: 25px;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.dynamic {
  display: none;
  @include _minMD {
    display: block;
    padding: 11px;
  }
}

.cart-button {
  padding: 11px;
}
