$icon-color: #171717;
$mobile-icon-color: #efefef;

.container {
  position: sticky;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;

  @include _minLG {
    position: static;
  }
}

.cap {
  display: none;
  background-color: #171717;

  @include _minLG {
    display: block;
  }
}

.capInner {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 1700px;

  @include _minLG {
    padding: 7px 17px;
  }

  @include _minXL {
    padding: 8px 60px;
  }
}

.capList {
  color: #e8e8e8;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  & li {
    margin-left: 20px;
  }
  & span {
    font-weight: 600;
    color: #fff;
  }
}

.header {
  flex-wrap: wrap;
  background-color: #171717;

  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    0 1px 4px rgba(0, 0, 0, 0.05),
    0 2px 8px rgba(0, 0, 0, 0.05);

  @include _minLG {
    background-color: #fff;
  }
}

.inner {
  max-width: 1700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 10px 0;

  @include _minLG {
    padding: 10px 17px;
  }

  @include _minXL {
    padding: 13px 50px;
  }
}

.logo {
  display: none;

  @include _minLG {
    display: block;
    position: relative;
    top: 3px;
    width: 150px;
  }

  @include _minXL {
    margin: 0 30px 0 40px;
  }
}

.navlist {
  display: none;
  & li {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }
  @include _minLG {
    display: flex;
    align-items: center;
  }
}

.nav-link {
  position: relative;

  @include _minLG {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: #171717;
    transition: color 0.3s;

    &::after {
      content: '';
      position: absolute;
      border-bottom: 2px solid;
      border-bottom-color: #171717;
      bottom: -7px;
      left: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
      width: 0;
      z-index: 1;
      transition: all 0.3s ease;
      -moz-transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
    }

    &:hover {
      &::after {
        width: 45%;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.menu-icon {
  fill: $mobile-icon-color;
  @include _minLG {
    fill: $icon-color;
  }
}

.heart-icon {
  font-size: 24px;
  fill: none;
  stroke: $mobile-icon-color;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.2);
  }
  @include _minLG {
    stroke: $icon-color;
  }
}

.profile-icon {
  font-size: 24px;
  fill: $mobile-icon-color;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.2);
  }
  @include _minLG {
    fill: $icon-color;
  }
}

.cart-icon {
  font-size: 27px;
  fill: $mobile-icon-color;
  stroke: $mobile-icon-color;

  @include _minMD {
    font-size: 25px;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.2);
    }
  }
  @include _minLG {
    fill: $icon-color;
    stroke: $icon-color;
  }
}

.dynamic {
  display: none;
  @include _minMD {
    display: block;
    padding: 11px;
  }
}

.cart-button {
  padding: 11px;
}
