.outStock {
  opacity: 0.49;
}

.container {
  position: relative;
  margin: 8px 3px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 1px 9px -1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;

  @include _minMD {
    margin: 8px 4px;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
      & .title {
        color: #000;
      }
    }
  }
}

.tag {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3px;
  border-radius: 5px;
  user-select: none;
  & span {
    font-size: 12px;
    color: #fff;
    font-weight: 600;
  }
}

.imageWrapper {
  position: relative;
  opacity: 1;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  & > a {
    outline: none;
    & > div {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
}

.info {
  padding: 3px 7px;
  padding-top: 0;
  @include _minMD {
    padding: 5px 10px;
    padding-top: 0;
  }
}

.priceBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.price {
  flex-basis: 85%;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #343434;
}

.price.discount {
  color: #f44336;
}

.discount-price {
  color: #999;
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  text-decoration: line-through;
}

.title {
  font-size: 13px;
  font-weight: 600;
  color: #343434;
  line-height: 17px;
  height: 35px;
  display: block;
  clear: both;
  margin-bottom: 7px;
  white-space: normal;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.2s;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  &:hover,
  &:focus {
    outline: none;
  }

  @include _minMD {
    font-size: 14px;
  }
}

.buttonWrapper {
  flex-basis: 15%;
  padding: 5px;
}

.trashIcon {
  fill: #626262;
}
