.button {
  color: #f44336;
  padding: 7px;
}

.svgEL {
  display: initial;
  fill: transparent;
  stroke: #f44336;
  overflow: visible !important;
  stroke-width: 1.5px;
  transition: all 0.33s ease;

  & use:last-child {
    fill: #f44336;
    stroke: #f44336;
    opacity: 0;
    transform: scale(0.33);
    transform-origin: center;
  }
}

.liked {
  stroke: transparent;
  & use:last-child {
    opacity: 1;
    transform: none;
    transition: all 0.5s cubic-bezier(0.19, 2.41, 0.45, 0.94);
  }
}

.hide {
  display: none;
}

.withText {
  stroke-width: 2.5px;
  margin-right: 10px;
}
