.button {
  color: rgb(255, 39, 39);
  padding: 7px;
}

.svgEL {
  fill: transparent;
  stroke: rgb(255, 39, 39);
  overflow: visible;
  stroke-width: 1.5px;
}

.liked {
  fill: rgb(255, 39, 39);
  animation: beat 250ms linear;
}

@keyframes beat {
  50% {
    transform: scale(1.2);
    transform-origin: center;
  }
}
