.root {
  margin-top: 11px;
  display: flex;
  flex-wrap: wrap;

  @include _minLG {
    margin-top: 20px;
  }

  @include _minXL {
    flex-wrap: nowrap;
  }
}

.sliderWrapper {
  position: relative;
  flex-basis: 100%;
  border-radius: 14px;

  @include _minXL {
    flex-basis: 85%;
    max-width: 85%;
  }
}

.previewSlider {
  cursor: grab;
  border-radius: 14px;
  transition: height 300ms;
  z-index: 0;
  height: auto;
  & li {
    min-width: 100% !important;
    max-width: 100% !important;
    min-height: auto !important;
  }
}

.slideImage {
  width: 100%;
  display: block;
  user-select: none;
  border-radius: 14px;
  object-fit: cover;

  @include _minDesktop {
    border-radius: 14px;
  }
}
