$text-color: #939191;

@mixin h5-title {
  & h5 {
    font-size: 15px;
    margin: 0;
    margin-bottom: 25px;
    font-weight: 600;
    color: var(--font-color);
  }
}

.wrapper {
  background: var(--footer-bg);
}

.root {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 30px 5% 15px 5%;
  max-width: 1500px;
  margin: 0 auto;
}

.contact {
  color: var(--font-color);
  flex-basis: 100%;
  max-width: 420px;
  padding-top: 30px;
  @include h5-title;
}

.contactDetails {
  display: flex;
  flex-wrap: wrap;
  & li {
    flex-basis: 50%;
    margin-bottom: 14px;
  }
  & p {
    font-size: 14px;
    margin: 0;
    color: $text-color;
  }
  & span {
    font-size: 13px;
  }
}

.column {
  @include h5-title;
  margin: 0;
  padding: 0;
  flex-basis: 50%;
  margin-top: 30px;

  & a {
    text-decoration: none;
  }
  & p {
    font-size: 15px;
    color: var(--sub-title-color);
    margin-top: 0;
    margin-bottom: 6px;
    transition: all 0.2s;
    &:hover {
      font-weight: 600;
    }
  }
}

.brand {
  width: 100%;
  & a {
    text-decoration: none;
  }
}

.logo {
  width: 190px;
  & > img {
    width: auto;
    height: auto;
  }
}

.logoBox {
  display: flex;
  align-items: center;
  padding-left: 4px;
  margin-bottom: 10px;
}

.makeCallPlug {
  display: flex;
  align-items: center;
  border: 1px solid var(--font-color);
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  text-decoration: none;
  color: inherit;
  &:hover {
    & > div {
      fill: $main-color;
    }
  }
}

.phone {
  color: var(--font-color);
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 22px;
}

.phoneIcon {
  font-size: 22px;
  margin-right: 5px;
  fill: var(--sub-title-color);
}

.subFooter {
  background-color: var(--sub-footer-bg);
  padding: 10px 0;
  color: $text-color;
  text-align: center;
  & > span {
    font-size: 12px;
  }
}

@media screen and (min-width: $lg) {
  .makeCallPlug {
    margin-left: 15px;
  }

  .column {
    flex-basis: 25%;
    max-width: 200px;
  }

  .contact {
    flex-basis: 50%;
    margin-left: auto;
  }
}

@media screen and (min-width: $xl) {
  .root {
    padding: 35px 20px 20px 20px;
  }

  .brand {
    width: auto;
    margin-right: auto;
  }

  .column {
    margin-top: 0;
    flex-basis: initial;
  }

  .contact {
    padding-top: 0;
    margin-left: 0;
  }

  .info {
    margin-right: 30px;
  }

  .category {
    margin-right: 85px;
  }
}

@media screen and (min-width: $desktop) {
  .info {
    margin-right: 45px;
  }

  .category {
    margin-right: 110px;
  }
}
