.container {
  padding: 15px 10px 25px 15px;
  background-color: #f3f3f3;
}

.cartPrice {
  margin: 0;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.uahPrice {
  color: #989898;
}
