.container {
  flex-grow: 1;
  position: relative;
  @include _minXL {
    margin: 0 25px;
  }
}

.form {
  width: 100%;
  position: relative;
  vertical-align: bottom;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.search-input {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  right: 0;
  outline: none;
  width: 100%;
  left: auto;
  height: 100%;
  z-index: 450;
  transition-duration: 0.4s;
  border-radius: 10px;
  border: 2px solid;
  color: #171717;
  border-color: transparent;
  background-color: #dfdfdf;
  padding: 10px 46px 10px 15px;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  &::placeholder {
    color: #272727;
    text-align: center;
    @include _minLG {
      color: #8e8e8e;
    }
  }
  &:focus {
    border-color: #171717;
  }

  @include _minLG {
    width: 100%;
    border-color: #cacaca;
    background-color: #fff;
  }
}

.with-data {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search-button {
  z-index: 475;
  color: #171717;
}

.search-icon {
  fill: #171717;
  font-size: 19px;
  @include _minMD {
    font-size: 22px;
  }
}

.overlay {
  display: none;
  position: fixed;
  z-index: 400;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  //   height: calc(100 * var(--vh));
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-show {
  display: block;
}
