.tabList {
  display: flex;
}

.tab {
  cursor: pointer;
  font-size: 14px;
  border: 2px solid #eaeaea;
  padding: 6px 12px;
  text-align: center;
  font-weight: 600;
  margin-right: 8px;
  border-radius: 8px;
  user-select: none;
  transition: all 300ms;

  &:hover {
    border-color: #232323;
  }
}

.active {
  color: #fff;
  border-color: #232323;
  background-color: #232323;
}

.disabled {
  color: #7c7c7c;
  border-color: #f0f0f0;
  background-color: #f0f0f0;
  &:hover {
    border-color: #f0f0f0;
  }
}
